
.firstlevel {
	font-family: Osaka, "Lucida Grande", Arial, sans-serif;
	margin: 5px 0px 2px 30px  ;
	padding-right: 0.5em;
	padding-left: 0px;
	list-style-image: url(assets/listTriangle2.png);
	list-style-position: outside;
	display: list-item; }
.firstlevel-expand {
	font-family:         Osaka, "Lucida Grande", Arial, sans-serif;
	list-style-position: outside;
	display:             list-item;
	margin:              5px 0 2px 30px;
	padding-right:       0.5em;
	list-style-image: url(assets/listTriangle2Down.png); }

.secondlevel {
	font-size: 90%;
	font-family: Osaka, "Lucida Grande", Arial, sans-serif;
	list-style-position: outside;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 30px  ;
	padding-right: 0.5em;
	list-style-image: url(assets/listCircle.png);
	display: list-item; }
.thirdlevel {
	font-size: 90%;
	font-family: Osaka, "Lucida Grande", Arial, sans-serif;
	margin: 0 0 0 17px;
	padding: 1px 0.5em 2px 5px;
	border-left: 2px solid gray  }
.expandedPane {
	background-color: #f0f0f0  }
a:link {
	color: #6666ff  }
a:visited {
	color: #999966  }
a:active {
	color: #66ff66  }
body {
	color: black;
	font-size: 14px;
	background-color: white  ;
	margin-left: 0;
	padding-left: 0;:Osaka,"LucidaGrande",Arial,sans-serif;}
td {
	font-size: 14px  }
.spreadhead  {	font-weight: bold;
	font-size: 120%;
	font-family: sans-serif;
	background: #f5f5f5 url(assets/topicTitleBackground.png) repeat-x left bottom;
	text-align: center;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 10px;
	text-shadow: 0em 0.4em 0.3em rgba(0,0,0,0.5) }

.doctitle  {	font-weight: bold;
	font-size: 120%;
	font-family: sans-serif;
	background: url(assets/topicTitleBackground.png) repeat-x left bottom;
	text-align: center;
	margin: 0 0 1ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-shadow: 0em 0.4em 0.3em rgba(0,0,0,0.5) }
