
h2 {
	font-weight: bold;
	font-size: 130%;
	font-family: Osaka, "Lucida Grande", Arial, sans-serif;
	background-color: #f5f5f5;
	margin-right: 0;
	margin-left: 0;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 1ex;
	border-style: none none none solid;
	border-width: medium medium medium 8pt;
	border-color: gray  }
body   {	font-family: Osaka, "Lucida Grande", Arial, sans-serif;
	padding-top: 8px }
pre  {	margin-right: 4ex;
	margin-left: 4ex }
#smartheader     { background-color: #f2f2f2; margin-top: 0; margin-right: 0; margin-left: 0; padding-left: 10px; border-bottom: 1px solid #bfbfbf; position: fixed; top: 0; left: 0; width: 100% ; z-index: 1; }
