<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>1.3.1 copyright 2007-2015, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>InsertionLocatorHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>InsertionLocator Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.InsertionLocator</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleVersion</key>
	<string>1.3.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2007-2015, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<true/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>385</real>
		<key>savedFrame</key>
		<string>554 104 856 758 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
